.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;

  }

  .about-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #21325e;
  }
  
  .about {
    width: 50%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    background-color: #21325e;
    color: #f0f0f0;
    margin-right: 30px;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #B3D8E6;
    
  }
  
  .about .prompt {
    width: 60%;
    font-size: 25px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  .profile {
    max-width: 400px;
    padding: 20px;
    max-height: 80%;
  }

  .profile-container {
    display: flex;
    align-items: center;
  }
  
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    
    .list {
      padding: 0;
    }

    .about-cont{
      flex-direction: column-reverse;
    }

    .profile {
      width: 350px;
    }
  
    
  }