.contact {
  border-radius: 5px;
  padding: 50px;
}

.form-field {
  width: 70%;
  
}

input[type=text] {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;  
  margin-bottom: 16px; 
   
    
}


    